@charset "ISO-8859-1";
body{
	background-image: url("../image/en.jpg");
	background-size: cover;
	background-position-y: -100; 
}
.container{
	max-width: 1000px;
	margin: 0px auto;
}
#header{
	background-color: navy; 
}
nav{
	display: flex;
	justify-content: space-between	;
	justify-items: center;
}

#main-menu {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
#main-menu li{
	position: relative;
}
#main-menu li a{
	color: #f8f8f8;
	display: block;
	padding: 18px 20px;
	text-decoration: none;
}

#main-menu ul.sub-menu{
	position: absolute; 
	background-color: black;
	padding: 15px 0px;
	list-style: none;
	width: 200px;
	border: 1px solid #000000;
	display: none;
}
#main-menu li:hover>ul.sub-menu{
	display: block;
}
#main-menu ul.sub-menu a{
	padding: 8px 15px;
	border-bottom: 1px solid #000000;
	left: 0;
}
#main-menu ul.sub-menu li:hover>a{
	border-bottom: 1px solid #ffffff;
}
#main-menu ul.sub-menu li:last-child a{
 border: none;	
}
#main-menu ul.sub-menu ul.sub-menu{
	left: 200px;
	top: -15px;
	
}